fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
pydantic
pydantic-settings
resend
email-validator
python-jose[cryptography]
passlib[bcrypt]
slowapi
sentry-sdk[fastapi]
pytest
httpx